.main_container {
	display: flex;
	flex-direction: column;
	gap: 20px;
	align-items: center;
	justify-content: center;
}

.reset_button{
	border: none;
	color:white;
	background-color: rgb(176, 0, 0);
	height:40px;
	border-radius: 10px;
	cursor: pointer;
}
.board_container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	border-collapse: collapse;
}
.board_container button {
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
