	.main_container {
		border: 1px solid black;
		border-radius: 6px;
		overflow: hidden;
		margin:10px 0px;
	}

	.inner_container {
		background-color: rgb(19, 244, 27);
		text-align: right;
		transition: 1s ease-in;
	}
